.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin: 60px auto;
  max-width: 1200px;
  padding: 0 20px;
}

.contact-title {
  position: relative;
  text-align: center;
}

.contact-title h1 {
  padding: 0px 30px;
  font-size: 72px;
  font-weight: 600;
}

.contact-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 180px;
}

.contact-section {
  display: flex;
  gap: 80px;
  width: 100%;
  justify-content: space-between;
}

/* --- PARTE IZQUIERDA: TEXTO E INFO --- */

.contact-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.contact-left h1 {
  font-size: 64px;
  font-weight: 700;
  background: linear-gradient(270deg, #df8908 80%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.contact-left p.contact-desc {
  max-width: 550px;
  color: #d8d8d8;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 30px;
}

.contact-detail-card {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.contact-detail-card img,
.icon-placeholder {
  width: 28px;
  height: 28px;
  object-fit: contain;
  margin-top: 4px;
}

.detail-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.detail-info span {
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}

.detail-info p {
  margin: 0;
  font-size: 18px;
  color: #ffff;
  word-break: break-word;
}

/* --- PARTE DERECHA: FORMULARIO --- */

.contact-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  flex: 1;
}

.contact-right label {
  color: #d8d8d8;
  font-size: 18px;
  font-weight: 500;
}

.contact-right input {
  border: none;
  width: 100%;
  height: 60px;
  padding-left: 20px;
  border-radius: 6px;
  background: #32323c;
  color: white;
  font-size: 18px;
}

.contact-right textarea {
  width: 100%;
  border: none;
  padding: 20px;
  border-radius: 6px;
  background: #32323c;
  color: white;
  font-size: 18px;
  resize: none;
}

.contact-submit {
  border: none;
  color: white;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  padding: 18px 50px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.contact-submit:hover {
  transform: scale(1.05);
}

/* --- MEDIA QUERIES (Adaptación a móviles) --- */

@media (max-width: 1024px) {
  .contact {
    padding: 0 5%;
  }

  .contact-title h1 {
    font-size: 60px;
  }

  .contact-section {
    gap: 40px;
  }

  .contact-left h1 {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .contact {
    gap: 50px;
    margin: 50px auto;
    align-items: start;
  }

  .contact-title h1 {
    padding: 0;
    font-size: 40px;
    font-weight: 600;
  }
  .contact-title img {
    width: 100px;
    margin-right: -10px;
  }
  .contact-section {
    flex-direction: column;
  }
  .contact-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .contact-left h1 {
    font-size: 54px;
  }
  .contact-left p {
    font-size: 18px;
  }
  .conact-detail {
    gap: 20px;
  }
  .conact-detail img {
    width: 25px;
  }
  .contact-right label {
    font-size: 20px;
  }
  .contact-right input,
  .contact-right textarea {
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
  }
  .contact-submit {
    width: 100%;
    justify-content: center;
    padding: 15px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .contact-title h1 {
    font-size: 32px;
  }

  .contact-left h1 {
    font-size: 34px;
  }

  .detail-info span {
    font-size: 18px;
  }

  .detail-info p {
    font-size: 16px;
  }
}
